<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Demo Page</title>
    <meta charset="UTF-8"/>
</head>
<body>

<p>This is my Page</p>
<p><b>Message</b> : <span th:text="${message}"/></p>
<p><b>User Details</b> : <span th:text="${userDetails}"/></p>
<p><b>OAuth2 Details</b> : <span th:text="${oauth2Details}"/></p>
<p><b>Authenticated</b> : <span th:text="${isAuthenticated}"/></p>

<form action="#" th:action="@{/logout}" method="post">
<input type="submit" value="Logout"/>
</form>

</body>
</html>